@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,800');
@import 'globals';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-size: 1.25em;

  margin: 0;
  padding: 0;

  background-color: $color--off-black;
}

.App {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 500px;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;

  background-color: #fafafa;
}
