@import 'globals';

.food-list-item {
  margin-top: 1px;
}

.compliant .tab {
  background-color: $color--compliant;
}

.non-compliant .tab {
  background-color: $color--non-compliant;
}

.warn .tab {
  background-color: $color--warn;
}

.tab {
  padding: 2px 10px 2px 5px;
  display: flex;
  align-items: center;
}

.expandable .tab:hover {
  cursor: pointer;
  opacity: .8;
}

.tab-name {
  flex: 1;
}

.tab-icon {
  color: $color--dark-gray;
  font-size: 14px;
}

.expand {
  border: 1px solid #eee;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}

.expand p {
  margin: 0;
  font-size: 1rem;
}

.food-list-item .expand {
  display: none;
}

.food-list-item.active .expand {
  display: block;
}
