@import 'globals';

.food-list-item {
  margin-top: 1px;
}

.compliant .tab {
  background-color: $color--compliant;
}

.non-compliant .tab {
  background-color: $color--non-compliant;
}

.warn .tab {
  background-color: $color--warn;
}

.tab {
  display: flex;
  align-items: center;

  padding: 2px 10px 2px 5px;
}

.expandable .tab:hover {
  cursor: pointer;

  opacity: .8;
}

.tab-name {
  flex: 1;
  font-weight: 400;
  color: $color--off-black;
}

.tab-icon {
  font-size: 1rem;

  color: $color--dark-gray;
}

.expand {
  padding: 10px;

  border: 1px solid $color--off-white;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.expand p {
  font-size: 1rem;

  margin: 0;
}

.food-list-item .expand {
  display: none;
}

.food-list-item.active .expand {
  display: block;
}

.hl {
  font-weight: 800;
}
