@import 'globals';

.search-bar {
  display: grid;
  align-items: center;
  padding: 0;

  grid-template: 1fr / 2.5rem 1fr;

  .icon {
    font-size: 1.75rem;

    z-index: 1;

    margin: 0 .5rem;

    color: $color--dark-gray;

    grid-area: 1 / 1 / 2 / 2;
  }

  input {
    font-size: inherit;

    height: 40px;
    padding-left: 2.5rem;

    border: 2px solid $color--dark-gray;
    border-radius: 2rem;
    background-color: $color--off-white;

    grid-area: 1 / 1 / 2 / 3;
  }
}
